@import './../variables.scss';

.pageContents {
  background-color: #fff;
  width: 100%;
  order: 1;
  margin-top: 50px;

  .container{
     width: $maxWidthContainer + px;
     margin-top: 40px;
     margin-left: ($maxWidth -$maxWidthContainer) / 2 + px;

     display: flex;
     flex-flow: row nowrap;
     justify-content: start;

  }
}